<div class="alert pui-alert alert-info pui-alert-info border-bottom col-middle" role="alert">
  <div class="grid">
    <div class="col col-fixed col-middle pan">
      <div class="icon icon-middle">
        <svg height="48" width="48" viewBox="0 0 48 48" class="icon-info">
          <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm2 30h-4V22h4v12zm0-16h-4v-4h4v4z"></path>
        </svg>
      </div>
    </div>
    <div class="col col-middle"><a href="https://watson-developer-cloud.github.io/watson-vision-coreml-code-pattern/">This code pattern with updated content has been moved <b>here</b>.</a></div>
  </div>
</div>