<div class="alert pui-alert alert-danger pui-alert-danger" role="alert">
  <div class="grid">
    <div class="col col-fixed col-middle pan">
      <div class="icon icon-middle">
        <svg height="48" width="48" viewBox="0 0 48 48" class="icon-info">
          <path d="M2 42h44L24 4 2 42zm24-6h-4v-4h4v4zm0-8h-4v-8h4v8z"></path>
        </svg>
      </div>
    </div>
    <div class="col col-middle">
      <a class="type-error-2" href="https://watson-developer-cloud.github.io/watson-vision-coreml-code-pattern/">This code pattern with updated content has been moved <b>here</b>.</a>
    </div>
  </div>
</div>